@charset "utf-8";
/* CSS Document */

	body {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight:300;
		font-size: 16px;
		color:#404040;
		background-color:#1d1d1d;
	}
	
	h1, h2, h3 { text-transform:uppercase; }
	
	h1 { font-weight:900; }
	h2, h3, h4 { font-weight:300; }
	h4 { font-size:20px; }
	
	h1, h2, h3, h4, h5, p { word-wrap:break-word; word-break:break-strict;  }
	
	h2.small { font-size:28px; }
	h2.medium { font-size:36px; }
	
	h3 > span { display:block; font-size:16px; }
	
	p { margin-bottom:20px }
	
	a, a:hover, a:focus { 
		color:#ea694d; 
		transition: all 0.5s ease; 
	}
	
	figure { margin-bottom:20px; }
	
	figure img { 
		-webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
				box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
		-webkit-border-radius: 4px;
				border-radius: 4px;
	}
	
	figure > a {
		display:block;
		overflow:hidden;
	}
	
	figure > a > img {
		-webkit-backface-visibility: hidden;
           -moz-backface-visibility: hidden;
                backface-visibility: hidden;
		-webkit-transition: transform .3s ease 0s;
		   -moz-transition: transform .3s ease 0s;
				transition: transform .3s ease 0s;
	}
	
	figure > a:hover > img {
		-webkit-transform: scale3d(1.1, 1.1, 1);
			-ms-transform: scale3d(1.1, 1.1, 1);
				transform: scale3d(1.1, 1.1, 1);
	}
	
	figcaption i { 
		display:inline-block;
		margin-top:6px; 
	}
	
	hr {
		border-color:#c8c7ca;
	}
	
	.hr-sml-inline {
		margin:40px 0 10px 0;
		border-style:dotted;
		background-color:transparent;
	}
	
	dt {
		font-weight: 400;
	}
	
	.text-white { color:#e9e9eb !important; }
	
	.text-grey { color:#697075; }
	
	.text-center img { margin-left:auto; margin-right:auto; }
	
	.sm-text-center { text-align:center; }
	
	.double-margin-top {
		margin-top:40px;	
	}
	
	.block-grey-link {
		display:block;
		background-color:#697075;
		padding:10px;
		margin:12px 0 22px 0;
	}
	
	.home-hero-row {
		position:relative;
	}
	
	.home-hero-row h1 { 
		font-size:32px; 
		margin-top:30%;
		line-height:1;
	}
	
	.home-hero-row .lead { 
		color:#161618; 
		font-size:20px; 
	}
	
	.scroll-down-stopper {
		position:absolute;
		bottom:50px;
		height:1px;
	}
	
	.col-right-img {
		margin:40px auto 20px auto;	
	}
	
	.row-overlap-img {
		margin-bottom:-30px;
	}
	
	.pull-down-img {
		position:relative;
	}
	
	h2 > .btn {
		display:block;
		margin-bottom:10px;
	}
	
	.has-drop-shadow {
		-webkit-box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.52);
           -moz-box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.52);
        		box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.52);
	}
	
	.img-has-frame {
		border:6px solid #f4f4f4;
		-webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.52);
           -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.52);
        		box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.52);
	}
	
	.inline-margin-bottom {
		margin-bottom:20px;
	}
	
	
	@media (min-width: 460px) {
		
		.home-hero-row h1 { 
			font-size:48px; 
			line-height:1;
		}
		
		.home-hero-row .lead { font-size:24px; }
		
		h2 { font-size: 36px; }
	}
	
	@media (min-width: 768px) {
		
		dt, dd { float:left; }
		dt { clear:left; margin-right:5px; }
		
		hr {
			margin-top:50px;
			margin-bottom:30px;
		}
		h2 > .btn {
			display:inline-block;
			margin-bottom:0;
			margin-top:-12px;
			font-size:48px;
			padding-top:0;
			padding-bottom:0;
		}
		.sm-text-center { text-align:inherit; }
	
		.md-text-right { text-align:right; }
	}
	
	@media (min-width: 992px) {
        .text-push-down {
			margin-top:50px;
		}
		.no-top-margin-desktop {
			margin-top:0;
		}
	}
	
	@media (max-width: 992px) {
		.home-hero-row h1 { 
			margin-top:20%;
		}
	}

/* ==========================================================================
   HEADER NAVIGATION
   ========================================================================== */
	.navbar { 
		margin:0;
		-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
				box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
	}
	
	.navbar-collapse { max-height:none; }
	
	.navbar-brand {
		width: 142px;
        padding:0;
        margin-top:15px;
        margin-left:15px;
        height:16px;
	}
	
	.navbar-nav > li > a {
		padding-left: 24px;
    	padding-right: 24px;
		background-color:transparent;
	}
	
	.navbar-nav > li:first-child > a {
		margin-left:0;
	}
	
	.navbar-inverse .navbar-nav > li > a,
	.dropdown-menu > li > a {
		color: #fff;
		text-transform:uppercase;
		font-size: 16px;
    	font-weight: 300;
		color:#fff;
	}
	
	.navbar-inverse .navbar-nav > .active > a, 
	.navbar-inverse .navbar-nav > .active > a:hover, 
	.navbar-inverse .navbar-nav > .active > a:focus {
		background-color: transparent;
	}
	
	.navbar-nav > li > .dropdown-menu {
		margin-top: -1px;
	}
	
	.nav .open > a, .nav .open > a:hover, 
	.nav .open > a:focus {
		border-color: #080808 !important;
	}
	
	.dropdown-menu {
		background-color:#080808;
		padding-top:10px;
		padding-bottom:10px;
	}
	
	.dropdown-menu > li > a {
		padding-top:8px;
		padding-bottom:8px;
	}
	
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus{
		background-color:#444a51;
		color:#fff;
	}
	
	.navbar-inverse .navbar-toggle {
		border-color: #666;
	}
	
	.external-link {
		padding-right: 16px !important;
		background:transparent url(../img/icons-sprite.png) 96% 20px no-repeat;
	}
	
	@media (max-width: 460px) {
		.feature-list > li,
		.journey-list > li {
			width:100%;
		}
		.navbar-brand {
			width:70%;
		}
	}
	
	@media (min-width: 768px) {
		.dropdown-menu {
			left: -1px;
		}
		
		.navbar-nav {
			float:right;
		}
		
		.external-link {
			padding-right: 16px !important;
			background-position:100% 20px;
		}
	}
	
	@media (min-width: 768px) and (max-width: 992px) {
		.navbar-nav > li > a {
			margin-left:10px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	
	
	.navbar-nav > li > a:hover {
		background-color: rgba(255, 255, 255, .3);
	}
	
	@media (max-width: 992px) {
		.navbar-inverse .navbar-nav > .open > a, 
		.navbar-inverse .navbar-nav > .open > a:hover, 
		.navbar-inverse .navbar-nav > .open > a:focus,
		.navbar-inverse .navbar-nav > .active > a, 
		.navbar-inverse .navbar-nav > .active > a:hover, 
		.navbar-inverse .navbar-nav > .active > a:focus {
			background-color: #ea694d;
		}
	}
	
	@media (min-width: 992px) {
		
		.navbar-nav > li > a {
			border-bottom:5px solid transparent;
		}
		
		.navbar-nav > li > a:hover {
			border-color: rgba(255, 255, 255, .3);
		}
		
		.navbar-inverse .navbar-nav > .open > a, 
		.navbar-inverse .navbar-nav > .open > a:hover, 
		.navbar-inverse .navbar-nav > .open > a:focus,
		.navbar-inverse .navbar-nav > .active > a, 
		.navbar-inverse .navbar-nav > .active > a:hover, 
		.navbar-inverse .navbar-nav > .active > a:focus {
			border-color: #ea694d;
		}
	}
   
   .container-fluid {
	   overflow:hidden;
   }
   
/* ==========================================================================
   MAIN ROW BACKGROUND TEXTURES
   ========================================================================== */
	.home-hero-row {
		background: transparent;
	}
	
	.black-img-bg {
		padding-top:60px;
		min-height:418px;
		background: #050505 url(../img/backgrounds/portrait-black.jpg) 50% 0 no-repeat;
		
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size:cover;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/backgrounds/portrait-black.jpg', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/backgrounds/portrait-black.jpg', sizingMethod='scale')";
		
		 /* IE7, IE8 */
		background-image/*\**/: none\9;
	}
	
	.light-grey-horz-gradient {
		background: #f3f2f6; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjJmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNGQ0ZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  #f3f2f6 0%, #d4d4d4 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f3f2f6), color-stop(100%,#d4d4d4)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #f3f2f6 0%,#d4d4d4 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #f3f2f6 0%,#d4d4d4 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #f3f2f6 0%,#d4d4d4 100%); /* IE10+ */
		background: linear-gradient(to right,  #f3f2f6 0%,#d4d4d4 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f2f6', endColorstr='#d4d4d4',GradientType=1 ); /* IE6-8 */
	}
	
	.light-grey-vert-gradient {
		background: #d3d3d3; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzZDNkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYmFiYWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #d3d3d3 0%, #ababab 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#ababab)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #d3d3d3 0%,#ababab 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #d3d3d3 0%,#ababab 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #d3d3d3 0%,#ababab 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #d3d3d3 0%,#ababab 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#ababab',GradientType=0 ); /* IE6-8 */
	}
	
	.grey-horz-gradient {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3a4148+0,6b757f+100 */
		background: #3a4148; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjM2E0MTQ4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZiNzU3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(45deg,  #3a4148 0%, #6b757f 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #3a4148 0%,#6b757f 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  #3a4148 0%,#6b757f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a4148', endColorstr='#6b757f',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	}
	
	.black-bg {
		background-color:#050505;
	}
	
	.dark-grey-bg {
		background-color:#1d1d1d;
	}
	
	.brown-bg {
		background-color:#9c7b4e;
	}
	
	.off-white-bg {
		background-color:#f4f4f4;
	}
	
	.dark-blue-grey-bg {
		background-color:#313941;
	}
	
	.padded-row {
		padding-top:30px;
		padding-bottom:30px;
	}
	
	.padded-row-stacked { 
		padding-top:30px;
	}
	
	.main-bg-border-bottom {
		border-bottom:1px solid #c8c7ca;
		padding-top:40px;
		padding-bottom:40px;
	}
	
	/* PAGE HEADERS */
	.page-header {
		margin:0;
		border:none;
		padding:20px;
		background-repeat:no-repeat;
		background-size:cover;
		min-height:300px;
	}
	
	.page-header-content-container {
		position:relative;
		min-height:300px;
        text-shadow: 0 0 5px #050505;
	}
	
	.page-header-content {
		margin:0;
		position: absolute; 
		top:50%;
		left:0;
		
		-webkit-transform: translate(0,-50%); /* new method of centering, ie9+ */
		   -moz-transform: translate(0,-50%);
			-ms-transform: translate(0,-50%);
				transform: translate(0,-50%);
		
	}
	
	.page-header-small {
		min-height:0;
	}
	
	.page-header-unbuilt-britain {
		background-image:url(../img/productions/unbuilt-britain/header-bg-sml.jpg);
	}
	.page-header-victorian-villains {
		background-image:url(../img/productions/victorian-villains/header-bg-sml.jpg);
	}
	.page-header-mayan-apocalypse {
		background-image:url(../img/productions/mayan-apocalypse/header-bg-sml.jpg);
	}
	.page-header-pococks {
		background-image:url(../img/productions/power-to-the-pococks/header-bg-sml.jpg);
	}
	.page-header-gtos {
		background-image:url(../img/productions/gtos/header-bg-sml.jpg);
	}
	.page-header-gtosi {
		background-image:url(../img/productions/gtosi/header-bg-sml.jpg);
	}

    .page-header-how-the-rich {
        background-image:url(../img/productions/how-the-rich-avoid-tax/header-bg-sml.jpg);
    }
	
	.page-header h1 {
		font-size:36px;
		font-weight:300;
		text-transform:inherit;
	}
	
	.page-header-small h1 {
		margin:0;
	}
	
	.no-page-header-row { padding-top:80px; }
	
	.empty-row {
		min-height:68px;	
	}
	
	@media (min-width: 768px) {
		
		.page-header-unbuilt-britain {
			background-image:url(../img/productions/unbuilt-britain/header-bg.jpg);
		}
		.page-header-victorian-villains {
			background-image:url(../img/productions/victorian-villains/header-bg.jpg);
		}
		.page-header-mayan-apocalypse {
			background-image:url(../img/productions/mayan-apocalypse/header-bg.jpg);
		}
		.page-header-pococks {
			background-image:url(../img/productions/power-to-the-pococks/header-bg.jpg);
		}
		.page-header-gtos {
			background-image:url(../img/productions/gtos/header-bg.jpg);
		}
		.page-header-gtosi {
			background-image:url(../img/productions/gtosi/header-bg.jpg);
		}

        .page-header-how-the-rich {
            background-image:url(../img/productions/how-the-rich-avoid-tax/header-bg.jpg);
        }
		
		.page-header h1 {
			margin-top:0;
		}
	}
	
	@media (min-width: 992px) {
		.padded-row {
			padding-top:50px;
			padding-bottom:50px;
		}
		
		.padded-row-stacked { 
			padding-top:50px;
		}
		
		.padded-row-stacked:last-child { 
			padding-bottom:50px;
		}
	}
/* ==========================================================================
   ICONS
   ========================================================================== */	
	@font-face {
		font-family: "Glyphicons Halflings";
			src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), 
				 url("../fonts/glyphicons-halflings-regular.woff") format("woff"), 
				 url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), 
				 url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
	}

	.glyphicon {
		margin-right: 5px;
		top: 3px;
	}
	
/* ==========================================================================
   BUTTONS
   ========================================================================== */	
	.btn {
		position:relative;
		font-weight:300;
		font-size: 16px;
		
		-webkit-transition: all .15s ease-in-out;
		   -moz-transition: all .15s ease-in-out;
             -o-transition: all .15s ease-in-out;
                transition: all .15s ease-in-out;
	}
	
	.btn-primary {
		background-color: #606d7f;
		border-color: #606d7f;
	}
	
	.btn-primary:hover,
	.btn-primary:focus {
		background-color: #ea694d;
		border-color: #ea694d;
	}
	
	.btn-primary-2,
	.btn-primary-3 {
		border-color: #a4aaaf;
		text-transform:none;
		border-color: #a4aaaf;
		color:#e9e9eb;
	}
	
	.btn-primary-2 {
		color:#e9e9eb;
		background-color: #5e6871; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlNjg3MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1OTYyNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left,  #5e6871 0%, #59626b 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5e6871), color-stop(100%,#59626b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #5e6871 0%,#59626b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #5e6871 0%,#59626b 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #5e6871 0%,#59626b 100%); /* IE10+ */
		background: linear-gradient(to right,  #5e6871 0%,#59626b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e6871', endColorstr='#59626b',GradientType=1 ); /* IE6-8 */
	}
	
	.btn-primary-3 {
		background-color: transparent;
	}
	
	.btn-primary-3:hover,
	.btn-primary-3:focus {
		background-color: #a4aaaf;
	}
	
	.btn-primary-4 {
		background-color: #dfdfe0;
		color:#606d7f;
		border-color:#909090;
	}
	
	.btn-twitter {
		background:#00acee url(../img/twitter-icon.png) 12px 50% no-repeat;
		border-color:#00acee;
		padding-left:40px;
	}
	
	.down-arrow {
		margin:10px auto 30px auto;
		display:inline-block
	}
	
	.down-arrow:hover img {
		opacity:.5;
	}
	
	.btn-full-screen {
		display:block;
		padding:10% 15px;
		font-size:36px;
		font-weight:300;
		color:#e8e7ea;
		text-transform:uppercase;
		line-height:1.2;
	}
	
	.btn-full-screen:hover {
		text-decoration:none;
		color:#e8e7ea;
		background-color:#4d82a1;
		transition: background-color 0.5s ease;
	}
	.btn-full-screen > span {
		font-weight:400;
		display:block;
	}
	
	.btn-external-link {
		background-image:url(../img/icons-sprite.png);
		background-position:96% -4.2%;
		background-repeat:no-repeat;
		padding-right:30px;
	}
	
	.btn-external-link-drk {
		background-position:96% 106.5%;
	}
	
	.btn-lg .glyphicon {
		top: 3px;
		padding-right:5px;
	}
	
	.btn-img-overlay {
		padding-left:80px;
		margin-bottom:30px;
	}
	
	.btn-img-overlay > img {
		position:absolute;
		left:10px;
		top:-23%;
	}
	
	@media (min-width: 768px) {
		.btn-full-screen {
			padding:3% 15px;
			line-height:1.2;
		}
		.btn-full-screen > span {
			display:inline;
		}
	}


/* ==========================================================================
   VIDEO
   ========================================================================== */
	.video-wrapper {
		height: 0;
		padding-bottom: 56.25%;
		position: relative;
		width: 100%;
	}

    .video-wrapper video,
	.video-wrapper iframe	{
        width: 100%;
		height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        background-color: #1d1d1d;
        -webkit-box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.42);
           -moz-box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.42);
        		box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.42);
    }
	
/* ==========================================================================
   FOOTER
   ========================================================================== */
	
	.site-footer {
		padding-top:40px;
		padding-bottom:40px;
		font-size:14px;
	}
	
	.site-footer p a { 
		display:inline-block; 
		margin-top:15px;
	}
	
	.site-footer,
	.site-footer a {
		color:#999a9f ;
	}
	
	.social-links-list a {
		display:inline-block;
		width:28px;
		height:28px;
		text-indent:100%;
		white-space:nowrap;
		overflow:hidden;
		background: transparent url(../img/social-icons-sprite.png) no-repeat;
	}
	
	.twitter a { background-position:100% 0; }
	
	.social-links-list a:hover {
		opacity:.7;
	}
	
	.pipe-divider {
		display:inline-block;
		padding:0 10px;
	}
	
	@media (max-width: 768px) {
		.mobile-block { 
			display:block; 
			margin-bottom:10px;
		}
		.mobile-hide {
			display:none;
		}
	}
	
	@media (min-width: 768px) {
		.site-footer p {
			float:left;
		}
		.site-footer .social-links-list {
			float:right;
		}
		
	}

/* ==========================================================================
   LISTS
   ========================================================================== */
	
	.feature-list,
	.feature-list > li {
		margin-bottom:30px;
	}
	
	.feature-list > li:last-child {
		margin-bottom:0;
	}
	
	.feature-list figcaption {
		margin-bottom:20px;
	}
	
	.episode-list {
		margin:0;
		padding-bottom:20px;
		padding-top:20px;
	}
	
	.episode-list > li {
		border-bottom:1px dotted #dddbe1;
	}
	
	.episode-list > li:last-child {
		border-bottom:none;
	}

	@media (max-width: 992px) {
		.feature-list figcaption {
			margin-bottom:10px;
		}
	}

	
/* ==========================================================================
   HEADING WITH RIGHT SIDE IMAGE
   ========================================================================== */	
	.side-image-header > img {
		float:left;
		margin:20px 10px 0 0;
	}
	.side-image-header figcaption {
		display:block;
		overflow:hidden;
	}
	.side-image-header h2 span {
		display:block;
		text-transform:none;
	}
	.side-image-header h2 span,
	.side-image-header p {
		font-size:18px;
		color:#b5bdc4;
	}
	
/* ==========================================================================
   GALLERY DETAIL TITLE
   ========================================================================== */	
	.gallery-header {
		position:relative;
		padding:15px 0 0 100px;
		background-color:#424950;
		
	}
	
	.gallery-header h2 {
		margin:0 0 4px 0;
		font-size:24px;
		text-transform:none;
	}
	
	.gallery-header > img {
		position:absolute;
		left:10px;
		bottom:0;
	}
	
	.view-count {
		font-size:24px;
	}
	.view-count .glyphicon {
		top:2px;
		margin-right:4px;
	}
	
	@media (min-width: 768px) {
		.gallery-header h2 {
			max-width: 85%;
		}
	.view-count {
			position:absolute;
			right:15px;
			top:35%;
		}
	}

/* ==========================================================================
   BLOG
   ========================================================================== */
	.blog-nav {
		margin-top:36px;	
	}
	
	.blog-nav h3 {
		text-transform:none;
		font-size:20px;
	}
	
	.blog-nav h3 span {
		margin-bottom: 3px;
	}
	
	.blog-nav li {
		margin-bottom: 5px;
	}
	
	.blog-item {
		border-bottom:1px solid #8f9294;
		padding-bottom:30px;
		margin-bottom:30px;
	}
	
	.blog-list {
		padding-top:40px;	
	}
	
	.blog-header {
		margin-bottom:15px;
		position:relative;
	}
	
	.blog-header > img { 
		display:none;
	}
	
	.blog-header h2 { 
		text-transform:none;
		margin-bottom:0;
	}
	
	.blog-header h2 a { 
		color:#fff;
	}
	
	.blog-header h2 a:hover { 
		text-decoration:none;
		color:#EBBA43;
	}
	
	.blog-article { padding-top:20px; }
	
	/* BLOCKQOTE */
	blockquote {
		margin-top:20px;
		padding:0;
		border:none;
	}
	
	blockquote {
        font-size:36px;
		font-weight:300;
		font-style:italic;
        position: relative;
        line-height:1.2;
        display: inline-block;
        font-weight:300;
        quotes: "\201C""\201D""\2018""\2019";
    }

    blockquote:before,
    blockquote:after {
        color: #fff;
        line-height: 0.1em;
        font-size: 3em;
        font-family: Georgia, serif;
    }

    blockquote:before {
        content: open-quote;
        margin-right: 0.05em;
        vertical-align: -0.3em;
    }
    blockquote:after {
        content: close-quote;
        margin-left: -0.05em;
        vertical-align: -0.65em;
    }
	
	@media (min-width: 768px) {
		.blog-item {
			margin-bottom:60px;
		}
		.blog-item:last-child {
			border-bottom:none;
			padding-bottom:0;
			margin-bottom:0;
		}
		.blog-header {
			border-bottom:1px solid #909295;
			min-height:100px;
		}
		.blog-header > img { 
			position:absolute;
			left:0;
			bottom:0;
			display:block;
		}
		.blog-header > div,
		.share-list { 
			padding-left:100px;
		}
		
		.blog-article .blog-header {
			width: 100%;
			margin-top:0;
		}
		
		.blog-article blockquote {
			float:right;
			width:35%;
			margin-left:30px;
			margin-top:20px;
			border:none;
		}
		
		blockquote:before,
		blockquote:after {
			color: #646b72;
		}
		
		.blog-article p { overflow:hidden; }
	}
	
	@media (min-width: 992px) {
		.blog-nav-list {
			margin-left: 40px;
		}
		.blog-article .blog-header > div {
			width:68%;
		}
		.blog-header {
			width: 75%;
		}
		.share-list {
			position:absolute;
			bottom:0;
			right:0;			
			padding-left:0;
		}
	}
	
	@media (min-width: 1170px) {
		.blog-header > div {
			width:100%;
		}
	}
	
/* ==========================================================================
   ANIMATION
   ========================================================================== */

    .animated { 
        -webkit-animation-duration: 1s; 
           -moz-animation-duration: 1s;
                animation-duration: 1s; 
        -webkit-animation-fill-mode: both; 
           -moz-animation-fill-mode: both;
                animation-fill-mode: both; 
    } 

/* FADE IN */
    .fadeIn { 
        -webkit-animation-name: fadeIn; 
           -moz-animation-name: fadeIn; 
                animation-name: fadeIn; 
    }

    @-webkit-keyframes fadeIn { 
        0% {opacity: 0;} 
        100% {opacity: 1;}
    } 

    @keyframes fadeIn { 
        0% {opacity: 0;} 
        100% {opacity: 1;}
    } 

    /* CENTERED CAPTION FADE IN */
    .hero-fadeIn { 
        -webkit-animation-name: hero-fadeIn; 
           -moz-animation-name: hero-fadeIn; 
                animation-name: hero-fadeIn; 
    }

    @-webkit-keyframes hero-fadeIn { 
        0% {
            opacity: .1;
            margin-top:30px;
        } 
        100% {
            opacity: 1;
            margin-top:0;
        }
    } 

    @keyframes hero-fadeIn { 
        0% {
            opacity: .1;
            margin-top:30px;
        } 
        100% {
            opacity: 1;
            margin-top:0;
        }
    }

    .cssanimations .hero-fadeIn {
        opacity:0;
    }
